.navContainer {
  position: fixed;
  inset: 0;
  padding: 1rem;
  z-index: 10000;
}

.navFondo {
  position: absolute;
  inset: 0;
  background-color: hsl(var(--clr-primario) / 0.2);
  backdrop-filter: blur(3px);
}

.hoverFondo {
  position: absolute;
  inset: 0;
  background: hsl(var(--clr-acentado));
  border-radius: var(--border-radius);
  z-index: -1;
}

.navCajon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20rem;
  background-color: hsl(var(--clr-fondo));
  color: hsl(var(--clr-texto));
  width: min(90%, 300px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  translate: 100%;
}

.menuEnlace .hamburguerLinkActivos {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 1px;
}

.menuEnlace a {
  text-decoration: none;
  display: block;
  padding: 0.3rem 0.5rem;
}

.menuEnlace ul {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 0.2rem;
}

.menuEnlace li {
  position: relative;
}

.cerrarBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 0.5rem;
  border-radius: 0.2em;
  background-color: hsl(var(--clr-primario));
  color: hsl(var(--clr-texto));
  gap: 0.5rem;
}

.iconCerrar {
  color: hsl(var(--clr-texto));
  width: 16px;
  height: 16px;
  stroke-width: 3px;
}
