.navContainer {
  position: fixed;
  inset: 0;
  padding: 1rem;
}

.navFondo {
  position: absolute;
  inset: 0;
  background-color: hsl(var(--clr-uno) / 0.3);
  backdrop-filter: blur(3px);
}

.navCajon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20rem;
  background-color: hsl(var(--clr-blanco) / 0.9);
  width: min(90%, 300px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  gap: 1rem;
  translate: 100%;
}

.children ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.children a {
  text-decoration: none;
}

.cerrarBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 0.5rem;
  border-radius: 0.2em;
  background-color: hsl(var(--clr-uno));
  color: hsl(var(--clr-blanco));
  gap: 0.5rem;
}

.iconCerrar {
  color: hsl(var(--clr-negro));
  width: 16px;
  height: 16px;
  stroke-width: 3px;
}
