.footer {
  padding: var(--padding-block);
  background-color: hsl(var(--clr-acento-dos));
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  gap: 3rem;
}

.container > * {
  flex: 1 1 15rem;
  padding-inline: 2rem;
  font-size: var(--fs-300);
  font-weight: var(--f-wei-600);
}

.oscuro {
  font-weight: var(--f-wei-900);
}

.centroInterno {
  display: flex;
  flex-direction: column;
}

.miEmoji {
  display: block;
  width: 5rem;
  align-self: center;
}

.h4 {
  font-size: var(--fs-400);
  font-weight: var(--f-wei-900);
  border-bottom: 2px solid hsl(var(--clr-uno));
}

.emojiFeather {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-base);
}
