.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1.2rem;
}

.pagination a {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0.6rem 0.9rem;
  margin: 0 0.3rem;
  transition: background-color 0.3s;
  width: 3rem;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
}

.pagination a:hover {
  background-color: hsl(var(--clr-acentado-color));
}

.pagination a.active {
  background-color: hsl(var(--clr-acentado-color));
  color: white;
  border-color: hsl(var(--clr-acentado-color));
}
