.containerTipoImagen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(2rem, 7vw, 5rem);
  padding-block: var(--padding-block);
  text-align: center;
}

.marcoCircularImagen {
  flex-basis: clamp(170px, 28vw, 250px);
  height: auto;
  flex-shrink: 0;
  aspect-ratio: 1;
  overflow: hidden;
  border: 10px solid hsla(var(--clr-uno));
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  background-color: hsla(var(--clr-acento-dos));
}

.marcoCircularImagen > img {
  width: 100%;
  object-fit: cover;
}

.h1 {
  font-size: var(--fs-hero);
  color: hsla(var(--clr-uno));
  font-weight: var(--f-wei-600);
  font-stretch: var(--f-str-75);
}

.rotateCenter {
  animation: rotate-center 0.6s;
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 43rem) {
  .containerTipoImagen {
    flex-direction: row-reverse;
    text-align: left;
    padding: 6em 3em;
  }
}
