.containerTipoImagen,
.containerTipoSinImagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(2rem, 7vw, 5rem);
  padding-block: var(--padding-block-grande);
  text-align: center;
  background-color: hsl(var(--clr-fondo));
  color: hsl(var(--clr-texto));
}

.marcoCircularImagen {
  flex-basis: clamp(10.6rem, 28vw, 14rem);
  height: auto;
  flex-shrink: 0;
  aspect-ratio: 1;
  overflow: hidden;
  border: 10px solid hsla(var(--clr-primario) / 0.8);
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  background-color: hsla(var(--clr-acentado));
}

.h1 {
  font-size: var(--fs-hero);
  font-weight: var(--f-wei-600);
  font-stretch: var(--f-str-75);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.img {
  transform: translateY(25px);
}

/* Sin imagen */
.containerTipoSinImagen {
  max-width: 30rem;
}

.about {
  display: block;
  font-size: var(--fs-800);
}

@media (min-width: 43rem) {
  .containerTipoImagen {
    flex-direction: row-reverse;
    text-align: left;
    padding-inline: 5rem;
  }
}
