.sectionSuperior {
  background-color: hsl(var(--clr-uno));
  color: hsl(var(--clr-blanco));
}

.sectionInferior {
  background-color: hsl(var(--clr-acento-uno));
}

.h2 {
  font-size: var(--fs-800);
  font-weight: var(--f-wei-600);
  font-stretch: var(--f-str-75);
  line-height: var(--lh-small);
}

.wrapperSuperior {
  padding-block: var(--padding-block-grande);
}

.wrapperInferior {
  padding-block: var(--padding-block-grande);
}
