.sectionSuperior {
  background-color: hsl(var(--clr-primario));
  color: hsl(var(--clr-texto));
}

.sectionInferior {
  background-color: hsl(var(--clr-secundario));
  color: hsl(var(--clr-texto));
}

.wrapperSuperior,
.wrapperInferior {
  padding-block: var(--padding-block-grande);
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}

.h2 {
  font-size: var(--fs-800);
  font-weight: var(--f-wei-600);
  font-stretch: var(--f-str-75);
  line-height: var(--lh-small);
  text-align: center;
}

.unaListaUl,
.tresListasUl {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unaListaUl li {
  font-weight: var(--f-wei-600);
}

.sectionInferiorTresListas {
  background-color: hsl(var(--clr-secundario));
}

.wrapperInferiorTresListas {
  padding-block: var(--padding-block-grande);
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}

.tresListasUl li {
  font-weight: var(--f-wei-600);
}

.tresListasH2 {
  font-size: var(--fs-800);
  font-weight: var(--f-wei-600);
  font-stretch: var(--f-str-75);
  line-height: var(--lh-small);
  text-align: center;
}

.singleLink {
  display: inline-block;
  margin-top: var(--gap-base);
  background-color: hsl(var(--clr-fondo));
  color: hsl(var(--clr-texto));
  padding: 0.5em 2em;
  border-radius: 5px;
  font-weight: var(--f-wei-600);
  font-size: var(--fs-500);
  text-decoration: none;
  transition: scale 0.2s ease-in-out;
}

.singleLink:hover {
  scale: 1.05;
}

.contenidoSuperior {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 40rem) {
  .wrapperSuperior,
  .wrapperInferior {
    flex-direction: row;
  }

  .wrapperInferiorTresListas {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .wrapperInferiorTresListas > div {
    flex-basis: 0;
    flex-grow: 1;
  }

  .h2 {
    flex-basis: clamp(20px, 30vw, 400px);
    flex-shrink: 0;
    text-align: left;
  }
  .tresListasH2 {
    margin-bottom: 1rem;
  }

  .unaListaUl {
    --gap-base: 0.4em;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-base);
  }

  .unaListaUl li:not(:last-child)::after {
    content: "|";
    margin-left: 0.4em;
  }
  .contenidoSuperior {
    align-items: flex-start;
  }
}
