.container {
  --border-radius: 0.5rem;
  container-type: inline-size;
  flex-basis: 18rem;
  flex-grow: 1;
  flex-shrink: 1;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: hsl(var(--clr-acento-dos));
}

.card {
  display: flex;
  flex-direction: column;
}

.cardImg {
  object-fit: cover;
  object-position: top left;
  aspect-ratio: 3 / 2;
}

.cardContent {
  padding: var(--padding);
}

.cardContent h3 {
  font-size: var(--fs-600);
  font-weight: var(--f-wei-600);
  font-stretch: var(--f-str-75);
}

@container (min-width: 30rem) {
  .card {
    flex-direction: row;
  }
  .cardImg {
    max-width: 33%;
    aspect-ratio: 3 / 4;
  }
}

.containerSinImagen {
  container-type: inline-size;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 14rem;
}

.cardSinImagen {
  display: flex;
  flex-direction: column;
  background-color: hsl(var(--clr-acento-dos) / 0.4);
  box-shadow: var(--box-shadow);
  padding: var(--padding);
  border-radius: var(--border-radius);
}

.cardSinImagen h3 {
  font-size: var(--fs-500);
  font-weight: var(--f-wei-600);
  font-stretch: var(--f-str-75);
}

.cardSinImagen p,
.cardSinImagen a {
  font-size: var(--fs-300);
}

@container (min-width: 34rem) {
  .cardSinImagen {
    text-align: center;
    padding-inline: 10vw;
  }
}
