.container {
  container-type: inline-size;
  flex-basis: 300px;
  flex-grow: 1;
  flex-shrink: 1;
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}

.cardImg {
  max-width: 50%;
}

@container (min-width: 650px) {
  .card {
    flex-direction: row;
  }
}
