.container {
  container-type: inline-size;
  flex-basis: 310px;
  flex-grow: 1;
  flex-shrink: 1;
}

.card {
  display: flex;
  flex-direction: column;
  /* gap: var(--gap-base); */
}

.cardImg {
  object-fit: cover;
  object-position: top left;
  aspect-ratio: 16 / 9;
}

.cardContent {
  background-color: hsl(var(--clr-acento-dos));
}

@container (min-width: 650px) {
  .card {
    flex-direction: row;
  }
  .cardImg {
    max-width: 50%;
  }
}
