.asideContainer {
  background-color: hsl(var(--clr-acento-uno));
  color: hsl(var(--clr-uno));
  padding-block: var(--padding-block-grande);
}

.flexContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.h3 {
  font-size: var(--fs-700);
  font-weight: var(--f-wei-600);
  font-stretch: var(--f-str-75);
}

.bloqueDos img {
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

@media (min-width: 55rem) {
  .flexContainer {
    flex-direction: row;
  }
  .bloqueUno {
    flex-grow: 1;
    flex-shrink: 1;
  }
  .bloqueDos {
    flex-shrink: 0;
    flex-basis: 20vw;
  }
  .bloqueTres {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
