.proyectoWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
  padding-block: var(--padding-block-grande);
}

.h2 {
  font-size: var(--fs-800);
  font-weight: var(--f-wei-600);
  font-stretch: var(--f-str-75);
  line-height: var(--lh-small);
  align-self: center;
}

.cards {
  display: flex;
  flex-direction: row;
}
