.proyectoWrapper,
.proyectoWrapperFull {
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}

.proyectoWrapper {
  padding-block: var(--padding-block-grande);
  border-top: 6px solid hsl(var(--clr-acentado-color));
}

.proyectoWrapperFull {
  padding-block-end: clamp(2rem, 10vw, 6rem);
}

.h2 {
  font-size: var(--fs-800);
  font-weight: var(--f-wei-600);
  font-stretch: var(--f-str-75);
  line-height: var(--lh-small);
  align-self: center;
  color: hsl(var(--clr-texto));
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-base);
  padding-bottom: calc(var(--margin-texto) + 0.5rem);
}

.cardSinImg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-base);
  color: hsl(var(--clr-texto));
}
