.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  gap: 2rem;
}

.proyectosMainWrapper {
  padding-block: var(--padding-block-grande);
}

.h3 {
  font-size: var(--fs-700);
  font-weight: var(--f-wei-600);
  font-stretch: var(--f-str-75);
  color: hsla(var(--clr-uno));
}

.p {
  font-size: var(--fs-600);
  font-weight: var(--f-wei-400);
  font-stretch: var(--f-str-75);
  color: hsla(var(--clr-uno));
}
