.gridContainer {
  display: grid;
  grid-template-columns: 1rf;
  gap: 2rem;
}

@media (min-width: 50rem) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

.proyectosMainWrapper {
  padding-block: var(--padding-block-grande);
}

.h3 {
  font-size: var(--fs-700);
  font-weight: var(--f-wei-600);
  font-stretch: var(--f-str-75);
  color: hsla(var(--clr-uno));
}
