.gridContainer {
  display: grid;
  grid-template-columns: 1rf;
  gap: 4rem;
}
.proyectosMainWrapper {
  padding-block: var(--padding-block-grande);
}

.h3 {
  font-size: var(--fs-700);
  font-weight: var(--f-wei-600);
  font-stretch: var(--f-str-75);
  color: hsla(var(--clr-uno));
}

.bloqueTres img,
.bloqueCinco img {
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

@media (min-width: 55rem) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .bloqueTres {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  /* .bloqueTres img {
    object-fit: cover;
    object-position: left;
    min-width: 100%;
    min-height: 100%;
  } */
  .bloqueCinco {
    align-self: end;
  }
}
