/***
    The new CSS reset - version 1.11 (last updated 20.9.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* SMOL Stuff */
/* 
body > * {
  --layout-spacing: max(8vh, 3rem);
  --max-width: 75rem;
  width: min(98%, var(--max-width));
  margin-left: auto;
  margin-right: auto;
}

:is(h1, h2, h3) {
  line-height: 1.2;
}

:is(h2, h3):not(:first-child) {
  margin-top: 2em;
}

article * + * {
  margin-top: 1em;
}

a {
  text-underline-offset: 0.15em;
} */

/* Final de smol stuff */

/* ************************* */
/*      Variables            */
/* ************************* */

:root {
  /* Colores */
  --clr-uno: 325 95% 56%; /* rosa */
  --clr-acento-uno: 50 94% 51%; /* amarillo */
  --clr-acento-dos: 174 89% 56%; /* azukito */
  --clr-negro: 0 0% 15%;
  --clr-blanco: 0 0% 90%;

  /* Formatos de letras */
  --fs-hero: clamp(3.052rem, 6vw, 4.5rem);
  --fs-900: 3.052rem;
  --fs-800: 2.441rem;
  --fs-700: 1.953rem;
  --fs-600: 1.563rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
  --fs-300: 0.8rem;
  --fs-200: 0.64rem;

  --f-str-75: 75%;
  --f-str-100: 100%;
  --f-str-125: 125%;

  --f-wei-200: 200;
  --f-wei-600: 600;
  --f-wei-900: 900;

  --lh-small: 1;
  --lh-normal: 1.6;
  --lh-big: 1.8;

  /* Varios */
  --padding-block: clamp(3rem, 6vw, 5rem);
  --margin-texto: 1em;
  --border-radius: 7px;
  --box-shadow: 0 5px 10px 0 hsl(var(--clr-uno) / 0.6);
  ---container-max: 62rem;
  --flex-gap: 1rem;
  --padding-block: 1.5rem;

  font-size: 112%;
}

@media (prefers-color-scheme: light) {
  :root {
    --clr-uno: 325 95% 56%;
    --clr-acento-uno: 50 94% 51%;
    --clr-acento-dos: 174 89% 56%;
    --clr-negro: 0 0% 20%;
    --clr-blanco: 0 0% 100%;
  }
}

/* ************************* */
/*      Clases utiles        */
/* ************************* */

body {
  font-size: var(--fs-400);
  font-weight: 400;
  line-height: var(--lh-normal);
  font-stretch: var(--f-str-100);
  background-color: hsl(var(--clr-blanco));
  min-height: 100vh;
}

/* Colores */
/* De fondo */
.fondo-oscuro {
  background-color: hsl(var(--clr-uno));
}
.fondo-acento {
  background-color: hsl(var(--clr-acento-uno));
}
.fondo-acento-claro {
  background-color: hsl(var(--clr-acento-dos));
}
.fondo-claro {
  background-color: hsl(var(--clr-blanco));
}
.fondo-negro {
  background-color: hsl(var(--clr-negro));
}
/* De letras */
.color-negro {
  color: hsl(var(--clr-negro));
}
.color-blanco {
  color: hsl(var(--clr-blanco));
}
.color-oscuro {
  color: hsl(var(--clr-uno));
}
.color-acento {
  color: hsl(var(--clr-acento-uno));
}
.color-acento-claro {
  color: hsl(var(--clr-acento-dos));
}

/* Formatos de letras */

.fs-hero {
  font-size: var(--fs-hero);
}
.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.f-str-75 {
  font-stretch: var(--f-str-75);
}
.f-str-100 {
  font-stretch: var(--f-str-100);
}
.f-str-125 {
  font-stretch: var(--f-str-125);
}

.f-wei-200 {
  font-weight: var(--f-wei-200);
}
.f-wei-600 {
  font-weight: var(--f-wei-600);
}
.f-wei-900 {
  font-weight: var(--f-wei-900);
}

.lh-small {
  line-height: var(--lh-small);
}
.lh-normal {
  line-height: var(--lh-normal);
}
.lh-big {
  line-height: var(--lh-big);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.flow > *:not(:last-child) {
  margin-bottom: var(--margin-texto);
}

.wrapper {
  width: min(100% - 3rem, var(--container-max, 62rem));
  margin-inline: auto;
  padding-block: var(--padding-block);
}

h1,
h2,
h3 {
  line-height: var(--lh-small);
}

img {
  display: block;
  /* object-fit: cover; */
}

.img-container {
  aspect-ratio: 3 / 2;
  object-fit: contain;
  overflow: hidden;
}

a {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
}
a:where(:hover, :focus) {
  border-bottom-color: hsl(var(--clr-uno));
  text-decoration-thickness: 4px;
}
