.container {
  background-color: hsl(var(--clr-acento-uno));
  padding-block: var(--padding-block-grande);
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}

.formulario h2 {
  font-size: var(--fs-800);
  font-weight: var(--f-wei-600);
  font-stretch: var(--f-str-75);
  text-align: center;
}

.misEnlaces {
  text-align: center;
  font-weight: var(--f-wei-600);
}

.form {
  display: flex;
  flex-direction: column;
  background-color: hsl(var(--clr-uno));
  color: hsl(var(--clr-blanco));
  padding: var(--padding-block);
  border-radius: var(--border-radius);
}

.input {
  margin-bottom: var(--gap-base);
  background-color: hsl(313 35% 80%);
  color: hsl(var(--clr-uno));
  padding: 0.4rem;
  border-radius: 0.3rem;
}

.input::placeholder {
  font-size: var(--fs-300);
  opacity: 0.7;
}

.label {
  font-size: var(--fs-300);
  font-weight: var(--f-wei-900);
}

.btn {
  background-color: hsl(var(--clr-blanco));
  color: hsl(var(--clr-uno));
  padding: 0.4rem;
  border-radius: 0.3rem;
  font-size: var(--fs-300);
  font-weight: var(--f-wei-900);
  text-align: center;
}
