.container {
  background-color: hsl(var(--clr-acento-uno));
  padding-block: var(--padding-block-grande);
  color: hsl(var(--clr-texto-uno));
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}

.formulario h2 {
  font-size: var(--fs-800);
  font-weight: var(--f-wei-600);
  font-stretch: var(--f-str-75);
  text-align: center;
}

.misEnlaces {
  text-align: center;
  font-weight: var(--f-wei-900);
}

.form {
  display: flex;
  flex-direction: column;
  background-color: hsl(var(--clr-uno));
  color: hsl(var(--clr-texto-dos));
  padding: var(--padding-block);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.input {
  margin-bottom: var(--gap-base);
  background-color: hsl(var(--clr-texto-dos));
  color: hsl(var(--clr-texto-uno));
  padding: 0.4rem;
  border-radius: 0.3rem;
}

.input::placeholder {
  font-size: var(--fs-300);
  opacity: 0.5;
}

.label {
  font-size: var(--fs-300);
  font-weight: var(--f-wei-900);
}

.btn {
  background-color: hsl(var(--clr-acento-dos));
  color: hsl(var(--clr-texto-uno));
  padding: 0.4rem;
  border-radius: 0.3rem;
  font-size: var(--fs-500);
  font-weight: var(--f-wei-900);
  text-align: center;
}

@media (min-width: 50rem) {
  .formulario {
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
  }
  .formulario > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
  }
  .formulario h2 {
    text-align: left;
  }
  .contenido {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .contenido > *:is(:last-child) {
    margin-top: auto;
  }
}
