.title {
  --fs-hero: clamp(2rem, 6vw, 3rem);
  font-size: var(--fs-hero);
  font-weight: var(--f-wei-900);
  font-stretch: var(--f-str-125);
}

.title {
  text-decoration-color: hsl(var(--clr-acentado-color));
}

.date {
  font-size: var(--fs-600);
  text-align: right;
}

.abstract {
  padding-inline-start: 20vw;
}
