.drafts-styles {
  margin-block: var(--gap-grande);
  display: flex;
  flex-direction: column;

  & * + *:not(li, pre *) {
    margin-block: var(--gap-base);
  }

  & h1 {
    --fs-hero: clamp(2.452rem, 6vw, 4rem);
    font-size: var(--fs-hero);
    font-weight: var(--f-wei-900);
    font-stretch: var(--f-str-125);
  }

  & h2 {
    font-size: var(--fs-800);
    font-weight: var(--f-wei-700);
  }

  & h3 {
    font-size: var(--fs-600);
    font-weight: var(--f-wei-700);
  }

  & :is(h2, h3) {
    --gap-base: 2rem;
    margin-block: var(--gap-base);
    font-stretch: var(--f-str-125);
  }

  & pre {
    font-size: var(--fs-300);
  }

  & .draft-details {
    text-align: right;
  }

  & time {
    font-size: var(--fs-600);
    color: hsl(var(--clr-acentado-color));
    text-align: right;
  }

  & strong {
    font-weight: var(--f-wei-600);
  }

  & blockquote {
    background-color: hsl(var(--clr-secundario));
    padding: var(--gap-base);
    border-inline-start: 1vw solid hsl(var(--clr-acentado-color));
    margin-inline-start: 3vw;
  }

  & :is(ol, ul) {
    margin-inline-start: 2rem;
    list-style-position: outside;
  }

  & ol {
    list-style-type: decimal;
  }

  & ul {
    list-style-type: disc;
  }

  & hr {
    height: 1px;
    background: hsl(var(--clr-acentado-color));
  }

  & article {
    --container-max: 75ch;
  }
}
