.header {
  background-color: hsl(var(--clr-acento-dos));
  color: hsl(var(--clr-blanco));
  border-bottom: 1px solid hsl(var(--clr-uno));
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-size: var(--fs-600);
  font-weight: var(--f-wei-600);
  text-decoration: none;
}

.navContainer {
  --gap-base: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--gap-base);
  font-weight: var(--f-wei-600);
}

.escritorioNav {
  display: none;
  gap: 0.2rem;
}

.escritorioNav li {
  position: relative;
}

.escritorioNav a {
  padding: 0.2rem 0.5rem;
}

.escritorioLink {
  text-decoration: none;
}

.escritorioLinkActivo {
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-thickness: 1px;
}

.hoverFondo {
  position: absolute;
  inset: 0;
  background: hsla(319, 31%, 70%, 0.4);
  border-radius: var(--border-radius);
  z-index: -1;
}

.hamburguerNav {
  display: flex;
}

@media (min-width: 43rem) {
  .escritorioNav {
    display: flex;
  }
}

.icons {
  display: flex;
  gap: 0.5rem;
}

.icons button,
.icons a {
  display: grid;
  place-items: center;
}

.iconSVG {
  color: hsl(var(--clr-blanco));
  stroke-width: 3px;
}

.botonMenu {
  display: grid;
  place-items: center;
}

.iconMenu {
  stroke-width: 4px;
  width: 35px;
  height: 35px;
}
