.header {
  background-color: hsl(var(--clr-acento-dos));
  color: hsl(var(--clr-uno));
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-shadow: 0 0 2px hsl(var(--clr-negro) / 0.5);
  font-size: var(--fs-600);
  font-weight: var(--f-wei-900);
  font-stretch: var(--f-str-75);
  text-decoration: none;
}

.navContainer {
  --flex-gap: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--flex-gap);
  font-weight: var(--f-wei-600);
}

.escritorioLink {
  display: none;
  gap: 0.8rem;
}

.escritorioLink a {
  text-decoration: none;
}

@media (min-width: 45rem) {
  .escritorioLink {
    display: flex;
  }
}

.icons {
  display: flex;
  gap: 0.5rem;
}

.icons button,
.icons a {
  display: grid;
  place-items: center;
}

.iconSVG {
  color: hsl(var(--clr-negro));
  stroke-width: 3px;
}

.botonMenu {
  display: grid;
  place-items: center;
}

.iconMenu {
  stroke-width: 4px;
  width: 35px;
  height: 35px;
}
