.h2 {
  font-size: var(--fs-800);
  font-weight: var(--f-wei-600);
  font-stretch: var(--f-str-75);
  text-align: center;
}
.h3 {
  font-size: var(--fs-600);
  font-weight: var(--f-wei-600);
  font-stretch: var(--f-str-75);
}

.otrosAsides {
  background-color: hsl(var(--clr-fondo));
  color: hsl(var(--clr-texto));
}
.container {
  padding-block: var(--padding-block-grande);
  border-bottom: 6px solid hsl(var(--clr-acentado-color));
}

.flexContainer {
  --gap-base: 3rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}

@media (min-width: 50rem) {
  .flexContainer {
    flex-direction: row;
  }
  .flexContainer > * {
    flex-grow: 1;
    flex-basis: 0;
  }
}
