.h2 {
  font-size: var(--fs-800);
  font-weight: var(--f-wei-600);
  font-stretch: var(--f-str-75);
  text-align: center;
}
.h3 {
  font-size: var(--fs-600);
  font-weight: var(--f-wei-600);
  font-stretch: var(--f-str-75);
}

.otrosAsides {
  background-color: hsl(var(--clr-uno));
  color: hsl(var(--clr-blanco));
}
.container {
  padding-block: var(--padding-block-grande);
}

.primerProyecto,
.segundoProyecto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 1rem;
}
