.section {
  background-color: hsl(var(--clr-terciario));
}

.singleLink {
  display: inline-block;
  margin-top: var(--gap-base);
  background-color: hsl(var(--clr-primario));
  color: hsl(var(--clr-texto));
  padding: 0.5em 2em;
  border-radius: var(--border-radius);
  font-weight: var(--f-wei-600);
  font-size: var(--fs-400);
  text-decoration: none;
  transition: scale 0.2s ease-in-out;
  box-shadow: var(--box-shadow);
}

.singleLink:hover {
  scale: 1.05;
}

.wrapperInfoLink {
  padding-block: var(--padding-block-grande);
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.h2 {
  font-size: var(--fs-800);
  font-weight: var(--f-wei-600);
  font-stretch: var(--f-str-75);
  line-height: var(--lh-small);
  text-align: center;
}

@media (min-width: 50rem) {
  .wrapperInfoLink {
    flex-direction: row;
  }
  .h2 {
    flex-basis: clamp(20px, 30vw, 400px);
    flex-shrink: 0;
    text-align: left;
  }
  .contenido {
    align-items: flex-start;
    text-align: left;
  }
}
