.singleLink {
  display: inline-block;
  margin-top: var(--gap-base);
  background-color: hsl(var(--clr-blanco));
  color: hsl(var(--clr-uno));
  padding: 0.5em 2em;
  border-radius: 5px;
  font-weight: var(--f-wei-600);
  font-size: var(--fs-500);
  text-decoration: none;
  transition: scale 0.2s ease-in-out;
}
